{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-constant-condition": "off",
    "no-return-assign": "off",
    "class-methods-use-this": "off",
    "object-curly-spacing": "off",
    "no-restricted-globals": "off",
    "max-len": [
      2,
      190
    ],
    "prefer-arrow-callback": 0,
    "arrow-parens": [
      2,
      "always"
    ]
  }
}
